.container {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flexRow { 
    display: flex;
    flex-wrap: nowrap;
    max-width: 800px;
}

.flexRow .flexCol {
    flex-grow: 1;
    margin: 0.5rem;
    padding: 1.5rem;
    text-align: left;
    background-color: #ededed;
    border-radius: 15px;
}

ul.timezones,
ul.events {
    padding-left: 0;
}

ul.timezones > li,
ul.events > li
{
    list-style: none;
    margin-bottom: 0.5rem;
}

ul.timezones > li > button,
ul.events > li > button {
    width: 100%;
    text-align: left;
    border: 1px solid #d5d5e6;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    padding: 0.75rem 1.25rem;
    box-shadow: 0 1px 1px 0 rgba(122,122,122,0.08), 0 1px 3px 1px rgba(144,144,144,0.16);
}

ul.timezones > li > button:hover,
ul.events > li > button:hover {
    cursor: pointer;
    background-color: #bbbbc3; /*#4c4c56*/
    color: #fff;
}

ul.timezones > li > button.active,
ul.events > li > button.active {
    background-color: #4c4c56;
    color: #fff;
}

.canvas-container {
    
}